<nb-layout>
  <nb-layout-header>
    <input nbInput placeholder="Pick Date" [nbDatepicker]="picker" [(ngModel)]="selected_date"
      (ngModelChange)="getEntryByDate()">
    <nb-datepicker #picker></nb-datepicker>
  </nb-layout-header>

  <nb-layout-column>

    <div *ngIf="json|async as events">

      <div *ngIf="events.length>0; else newEvent">
        <div *ngFor="let entry of events">
          <div *ngFor="let event of entry.events">
            <app-event-display [event]="event"></app-event-display>
          </div>
        </div>
      </div>

      
      <ng-template #newEvent>
        <app-event-create></app-event-create>
      </ng-template>

    </div>
  </nb-layout-column>
</nb-layout>