<nb-layout>
    <nb-layout-column style="padding: 0px;">
        <nb-card>
            <nb-card-body>
                <div class="date_range_div">
                    <nb-select [(ngModel)]="date_option">
                        <nb-option *ngFor="let option of range_options" value="{{option.value}}">{{option.label}}
                        </nb-option>
                    </nb-select>


                    <div *ngIf="isRangeDate()" class="calendar_div">

                        <input nbInput placeholder="From" [nbDatepicker]="from_date" [(ngModel)]="date_from">
                        <nb-datepicker #from_date></nb-datepicker>

                        <input nbInput placeholder="Till" [nbDatepicker]="to_date" [(ngModel)]="date_to">
                        <nb-datepicker #to_date></nb-datepicker>
                    </div>

                </div>
                <button nbButton id="search_options" status="primary" (click)="addTagFilter()">
                    Add Tag Filter<nb-icon icon="plus-circle-outline" id="add_tag_icon"></nb-icon>
                </button>

                <button nbButton id="search_submit" status="primary" (click)="getFilteredQuery()">
                    Search<nb-icon icon="search-outline"></nb-icon>
                </button>

                <div id="tag_list">
                    <mat-chip-list>
                        <ng-container *ngFor="let tag of tags; let i=index">
                            <app-tag-rud [tag]="tag" [index]="i" (removeEvent)="removeEventHandler($event)"></app-tag-rud>
                        </ng-container>
                    </mat-chip-list>
                </div>

            </nb-card-body>

        </nb-card>


        <div *ngIf="events">
            <div *ngFor="let event of events">
                <app-event-rud [event]="event" [read_only]=true></app-event-rud>
            </div>
        </div>
    </nb-layout-column>
</nb-layout>