# See https://www.dartlang.org/guides/libraries/private-files

# Files and directories created by pub
.dart_tool/
.packages
.pub/
build/
# If you're building an application, you may want to check-in your pubspec.lock
pubspec.lock

# Directory created by dartdoc
# If you don't generate documentation locally you can remove this line.
doc/api/
backend/venv/
__pycache__



#Angular :

# compiled output
/dist
/tmp
/out-tsc
/vendor
/app/logs
# dependencies
/node_modules

#Misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
Thumbs.db
!.gitkeep


# Django
*.log
*.pot
*.pyc
__pycache__/
backend/emotion-journal/emotion_journal/__pycache__/__init__.cpython-36.pyc
backend/emotion-journal/emotion_journal/__pycache__/settings.cpython-36.pyc
backend/emotion-journal/emotion_journal/__pycache__/urls.cpython-36.pyc
