<form [formGroup]="tagForm" (ngSubmit)="onSubmit()" ngNativeValidate> 
    <mat-form-field class="tag-input-field">
      <input type="text" (focusout)="focusOutType()" placeholder="Tag Type" aria-label="Tag Type" matInput formControlName="typeControl" [matAutocomplete]="type" required>
      <mat-autocomplete #type="matAutocomplete" autoActiveFirstOption>
        <mat-option *ngFor="let option of filtered_type_Options | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field class="tag-input-field">
      <input type="text" placeholder="Tag Name" aria-label="Tag Name" matInput formControlName="nameControl" [matAutocomplete]="name" required>
      <mat-autocomplete #name="matAutocomplete" autoActiveFirstOption>
        <mat-option *ngFor="let option of filtered_name_Options | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

  <button type="submit" nbButton shape="semi-round" status="info" [disabled]="!tagForm.valid">Submit</button>
  </form>

