#tag_footer{
    padding: .5rem;
}

#event_card * {
    font-size: 0.9rem;
}
#tag_list{
    display: inline-block;
}

#add_tag_button{
    transform: scale(0.8);
    float: inline-end;
}

#add_tag_icon{
    transform: scale(1.2);
}