<nb-layout>
  <nb-layout-header fixed>
    <mat-toolbar>
      <span>Emotional Journal</span>

      <span class="fill-remaining-space"></span>


      <app-pages></app-pages>
      <button mat-button [matMenuTriggerFor]="menu">  <mat-icon>more_vert</mat-icon></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>About Us</button>
        <button mat-menu-item>Logout</button>
      </mat-menu>

    </mat-toolbar>
  </nb-layout-header>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>